.footer {
    background-color: $color-black;
    padding: 38px 0 47px;

    @media (min-width: 768px) {
        padding: 57px 0 56px;
    }

    @media (min-width: 1200px) {
        padding: 70px 0 66px;
    }
}

.footer__wrapper {
    @include flex (center);
    flex-direction: column;
}

.footer__caption {
    color: $color-white;
    margin-bottom: 8px;
}

.footer__desc {
    max-width: 303px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    margin-bottom: 26px;

    & span {
        display: none;
    }

    @media (min-width: 768px) {
        max-width: 684px;
        font-size: 16px;
        line-height: 28px;

        & span {
            display: inline;
        }
    }
}

.footer__box {
    @include flex (center);
    gap: 6px;
    margin-bottom: 25px;
}


.footer__box-item {
    transition: .3s;
}

.footer__box-item:hover {
    transform: scale(1.1);
}

.footer__info {
    max-width: 235px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;

    & a {
        color: #B9B9B9;
        transition: .3s;
    }

    & a:hover {
        color: #57A4A4;
    }

    @media (min-width: 768px) {
        max-width: 613px;
        font-size: 16px;
        line-height: 26px;

        & br {
            display: none;
        }
    }
}