@import '../abstracts/variables';
@import '../abstracts/mixin';

.header {
    padding: 23px 0;

    @media (min-width: 768px) {
        padding: 41px 0;
    }

    @media (min-width: 1200px) {
        padding: 45px 0 51px;
    }
}

.header__wrapper {
    @include flex (flex-end);

    @media (min-width: 768px) {
        @include flex (center);
    }
}

.header__btn-menu {
    display: block;
    background-color: $color-black;
    width: 44px;
    height: 37px;
    position: relative;
    cursor: pointer;

    @media (min-width: 768px) {
        display: none;
    }
}

.header__line {
    width: 22px;
    height: 3px;
    background-color: $color-white;
    position: absolute;
    left: 11px;
    transition: 0.3s;
}

.header__line:nth-child(1) {
    top: 10px;
}

.header__line:nth-child(2) {
    top: 16px;
}

.header__line:nth-child(3) {
    top: 22px;
}

.header__btn-menu--open .header__line:nth-child(1) {
    transform: rotate(45deg);
    top: 16px;
}

.header__btn-menu--open .header__line:nth-child(2) {
    display: none;
}

.header__btn-menu--open .header__line:nth-child(3) {
    transform: rotate(-45deg);
    top: 16px;
}

.header__nav {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.header__nav--open {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #F5F5F5;
}

.header__list {
    width: 182px;
    height: 208px;
    padding: 13px;

    @media (min-width: 768px) {
        @include flex (center);
        gap: 34px;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    @media (min-width: 1200px) {
        gap: 68px;
    }
}

.header__link {
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    transition: .3s;

    &:hover {
        color: #57A4A4;
    }

}

.header__item {
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #E5E5E5;

        @media (min-width: 768px) {
            background-color: transparent;
        }
    }


}