.instagram {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 38px 0 42px;

    @media (min-width: 768px) {
        padding: 47px 0 50px;
    }
}

.instagram__caption-box {
    @include flex (space-between);
}

.instagram__caption {
    display: none;

    @media (min-width: 768px) {
        display: block;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        color: $color-secondary;
    }
}

.instagram__link {
    transition: .3s;
    
    &:hover {
        color: #57A4A4;
    }
}



.instagram__wrapper {
    margin-top: 13px;
    @include flex;

    @media (min-width: 768px) {
        @include flex (space-between);
        margin-top: 35px;
    }

    @media (min-width: 1200px) {
        margin-top: 24px;
    }
}

.instagram__img-wrap {
    width: 301px;
    height: 301px;

    &:nth-child(2) {
        display: none;
    };

    &:nth-child(3) {
        display: none;
    }
    
    &:nth-child(4) {
        display: none;
    }

    @media (min-width: 768px) {
        width: 249px;
        height: 249px;

        &:nth-child(2) {
            display: block;
        };
    
        &:nth-child(3) {
            display: block;
        }
    }

    @media (min-width: 1200px) {
        width: 285px;
        height: 285px;

        &:nth-child(4) {
            display: block;
        }
    }
}

.instagram__img {
    width: 100%;
    height: 100%;
}