.recent-posts {
    padding: 38px 0 77px;

    @media (min-width: 768px) {
        padding: 56px 0 60px;
    }

    @media (min-width: 1200px) {
        padding: 66px 0 69px;
    }
}

.recent-posts__wrapper {
    @include flex (flex-start, flex-start);
    flex-direction: column;
    gap: 28px;
    margin-top: 23px;

    @media (min-width: 768px) {
        gap: 32px;
    }

    @media (min-width: 1200px) {
        @include flex (space-between);
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.recent-posts__card {
    &:last-child {
        display: none;
    } 

    @media (min-width: 768px) {
        @include flex;
        gap: 21px;

        &:last-child {
            display: flex;
        } 
    }

    @media (min-width: 1200px) {
        width: 48%;
    }
}

.recent-posts__img-wrap {
    width: 160px;
    height: 140px;
    margin-bottom: 11px;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}
.recent-posts__img {
    width: 100%;
    height: 100%;
}

.recent-posts__caption {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: $color-secondary;
    transition: .3s;
    cursor: pointer;

    &:hover {
        color: #57A4A4;
    }

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.recent-posts__info {
    display: block;
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;

    @media (min-width: 768px) {
        font-size: 11px;
    }
}

.recent-posts__desc {
    display: none;

    @media (min-width: 768px) {
        display: block;
        font-size: 14px;
        line-height: 26px;
        color: $color-primary;
        max-width: 404px;
    }
}