@import '../abstracts/variables';

.container {
    max-width: 320px;
    margin: 0 auto;

    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: $color-primary;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.head__caption {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-secondary;
}




